{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field, form_form_errors %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'bungalow_admin' %}
{% set current_page_party = party %}
{% set page_title = 'Bungalow-Kategorie bearbeiten' %}

{% block before_body %}
{{ render_backlink(url_for('.category_index', party_id=party.id), 'Kategorien') }}
{%- endblock %}

{% block body %}

  <h1 class="title">{{ render_icon('edit') }} {{ page_title }}</h1>

  <form action="{{ url_for('.category_update', category_id=category.id) }}" method="post">
    <div class="box">
{{ form_form_errors(form) }}

      {{ form_field(form.title, autofocus='autofocus') }}
      {{ form_field(form.capacity, type='number', min=1, max=20, style='width: 5.5rem;', suffix='Personen') }}
      {{ form_field(form.ticket_category_id) }}
      {{ form_field(form.product_id) }}

      <div class="row">
        <div class="column--grow">
          {{ form_field(form.image_filename, caption='optional') }}
        </div>
        <div>
          {{ form_field(form.image_width, min=1, suffix='px', caption='optional', style='width: 4.5rem;') }}
        </div>
        <div>
          {{ form_field(form.image_height, min=1, suffix='px', caption='optional', style='width: 4.5rem;') }}
        </div>
      </div>
    </div>

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
