<h2>Karte</h2>

<style>
  .map svg {
    display: block;
  }

  .map a {
    color: #888888;
  }
  .map a:hover {
    color: #2233ee;
  }

{%- set state_colors = {
    'available': '#11aa22',
    'occupied': '#ee3322',
    'reserved': '#eecc00',
} %}
{%- for number in bungalows_by_number %}
  {%- with state = bungalows_by_number[number].occupation_state.name %}
  .map .bungalow-{{ number }} { color: {{ state_colors[state] }}; }
  {%- endwith %}
{%- endfor %}

  .map #numbers {
    font-size: 1rem;
  }
</style>

<div class="main-body-box main-body-box--no-padding">
  <div class="map">
{% include 'site/bungalow/_map.svg' %}
  </div>
</div>
