{% extends 'layout/base.html' %}
{% from 'macros/bungalow.html' import render_bungalow_link %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'bungalows' %}
{% set page_title = ['Name und Beschreibung bearbeiten', 'Bungalow %d'|format(bungalow.number)] %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('bungalow.index') }}">Belegungsplan</a></li>
      <li>{{ render_bungalow_link(bungalow) }}</li>
    </ol>
  </nav>
  <h1 class="title">{{ render_icon('edit') }} Name und Beschreibung bearbeiten</h1>

  <div class="main-body-box">
    <form action="{{ url_for('.description_update', occupancy_id=bungalow.occupancy.id) }}" method="post">
      {{ form_field(form.title, maxlength=20, autofocus='autofocus') }}
      {{ form_field(form.description) }}

      {{ form_buttons(_('Save'), cancel_url=url_for('.view', number=bungalow.number)) }}
    </form>
  </div>

{%- endblock %}
