{% extends 'layout/base.html' %}
{% set current_page = 'bungalows' %}
{% set page_title = 'Belegungsplan' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bungalow/bungalow.css') }}">
{%- endblock %}

{% block subnav %}
{% include 'site/bungalow/_subnav_attendance.html' ignore missing %}
{%- endblock %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

{{ render_snippet('bungalows_intro', ignore_if_unknown=True)|safe }}

{% include 'site/bungalow/_map.html' %}

{% include 'site/bungalow/_list.html' %}

{%- if bungalows and not g.site.is_intranet %}
{% include 'site/bungalow/_categories.html' %}
{%- endif %}

{%- endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='behavior/bungalow/bungalow.js') }}"></script>
{%- endblock %}
