{% extends 'layout/base.html' %}
{% from 'macros/bungalow.html' import render_bungalow_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/user.html' import render_user_avatar_and_link %}
{% set current_page = 'occupants' %}
{% set page_title = 'Parkbewohner' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bungalow/bungalow.css') }}">
{%- endblock %}

{% block subnav %}
{% include 'site/bungalow/_subnav_attendance.html' ignore missing %}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.occupant_index_all') }}" class="single-row unobtrusive" style="margin-bottom: 2rem;">
    <input type="search" name="search_term" placeholder="{{ _('username') }}" {%- if search_term %} value="{{ search_term }}"{% endif %}>
    <button type="submit" class="button" title="{{ _('Search') }}">{{ render_icon('search') }}</button>
    {%- if search_term %}
      <a href="{{ url_for('.occupant_index_all') }}" class="button" title="{{ _('Remove search term constraint') }}">{{ render_icon('remove') }}</a>
    {%- endif %}
  </form>

  {%- if search_term %}
  <small>
    <div class="row row--space-between" style="margin-bottom: 1rem;">
      <div>
        <p><strong>{{ tickets_and_bungalows.total }}</strong> {{ _('results for search term') }} &quot;<strong>{{ search_term }}</strong>&quot;</p>
      </div>
      <div>
        <p><a href="{{ url_for('.occupant_index_all') }}">alle Parkbewohner</a></p>
      </div>
    </div>
  </small>
  {%- endif %}

  <div class="main-body-box">
  {%- if tickets_and_bungalows.items %}
    <table class="index index--wide bungalow-occupants-all">
      <thead>
        <tr>
          <th>Bewohner/in</th>
          <th>Bungalow</th>
        </tr>
      </thead>
      <tbody>
        {%- for ticket, bungalow in tickets_and_bungalows.items %}
        <tr>
          <td>{{ render_user_avatar_and_link(ticket.used_by, size=32, orga=ticket.used_by_id in orga_ids) }}</td>
          <td class="bungalow">{{ render_bungalow_link(bungalow, label=bungalow.number) }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  {%- else %}
    <p class="dimmed">Keine Bewohner gefunden.</p>
  {%- endif %}
  </div>

{{ render_pagination_nav(tickets_and_bungalows, '.occupant_index_all', {
  'per_page': per_page,
  'search_term': search_term if search_term else None,
}) }}

{%- endblock %}
