{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% set current_page = 'shop' %}
{% set page_title = pgettext('verb', 'Order') %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

{%- if bungalow %}
  <form action="{{ url_for('.order', bungalow_id=bungalow.id) }}" method="post">

{%- include 'site/shop/order/_order_form_orderer.html' %}
{%- include 'site/shop/order/_order_form_products.html' %}

    {{ form_buttons(_('Place binding order now')) }}
  </form>
{%- endif %}

{%- endblock %}
