{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_distribution_bar %}
{% set current_page = 'booking' %}
{% set page_title = 'Buchung' %}

{% block head %}
<style>
.category-availability {
  font-size: 0.75rem;
}

.category-availability .progress {
  height: 0.3rem;
}
</style>
{%- endblock %}

{% block subnav %}
{% include 'site/bungalow/_subnav_attendance.html' ignore missing %}
{%- endblock %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

{{ render_snippet('bungalow_categories_intro', ignore_if_unknown=True)|safe }}

  <h2 class="title">Bungalow-Kategorien</h2>

  {%- with party_is_over = g.party.is_over %}
  <table class="itemlist is-vcentered" style="--cell-padding-horizontal: 3rem; margin-inline: auto;">
    <thead>
      <tr>
        <th colspan="2">{{ _('Category') }}</th>
        {%- if not party_is_over %}
        <th>Preis</th>
        {%- endif %}
        <th>{{ _('Availability') }}</th>
        {%- if not party_is_over %}
        <th>Buchung</th>
        {%- endif %}
      </tr>
    </thead>
    <tbody>
      {%- for summary in category_summaries|sort(attribute='title') %}
      <tr>
        <td><strong>{{ summary.title }}</strong></td>
        <td>{{ summary.capacity }} Personen</td>
        {%- if not party_is_over %}
        <td class="nowrap number">{{ summary.total_price|moneyformat }}</td>
        {%- endif %}
        <td>
          <div class="category-availability">
{{ render_distribution_bar(
  [
    (summary.quantity_available, 'bungalow-total-bar-available'),
    (summary.quantity_occupied, 'bungalow-total-bar-occupied'),
  ],
  summary.quantity_total,
) }}
            <div class="row row--space-between">
              <div><strong>{{ summary.quantity_available }}</strong></div>
              <div>{{ _('of') }} {{ summary.quantity_total }}</div>
            </div>
          </div>
        </td>
        {%- if not party_is_over %}
        <td class="centered">
          {%- if summary.available -%}
          <a class="button color-primary" href="{{ url_for('.category_order_form', category_id=summary.id) }}">{{ render_icon('shopping-cart') }} <span>Buchen</span></a>
          {%- else -%}
          <div class="button is-disabled">Nicht verfügbar</div>
          {%- endif -%}
        </td>
        {%- endif %}
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- endwith %}

{%- endblock %}
