{% extends 'layout/admin/bungalow.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/article.html' import render_article_link %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'categories' %}
{% set page_title = ['Bungalowkategorien', party.title] %}

{% block body %}

  <div class="block row row--space-between">
    <div>
      <h1 class="title">{{ _('Categories') }} {{ render_extra_in_heading(categories|length) }}</h1>
    </div>
    <div>
      <div class="button-row is-right-aligned">
        <a class="button" href="{{ url_for('.category_create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>{{ _('Create category') }}</span></a>
      </div>
    </div>
  </div>

  {%- if categories %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <tr>
        <th>{{ _('Title') }}</th>
        <th>Kapazität</th>
        <th>Sitzplatz-Kategorie</th>
        <th>Artikel</th>
        <th>Bild-Dateiname</th>
        <th class="number">Bildbreite</th>
        <th class="number">Bildhöhe</th>
        {%- if has_current_user_permission('bungalow.update') %}
        <th></th>
        {%- endif %}
      </tr>
    </thead>
    <tbody>
      {%- for category in categories %}
      <tr>
        <td>{{ category.title|fallback(_('untitled')) }}</td>
        <td class="centered">{{ category.capacity }}</td>
        <td>{{ category.ticket_category_title|fallback('nicht festgelegt') }}</td>
        <td class="nowrap">
          {%- if category.article %}
            {{ render_article_link(category.article) }}
          {%- else %}
            {{ 'nicht festgelegt'|dim }}
          {%- endif %}
        </td>
        <td>{{ category.image_filename|fallback }}</td>
        <td class="number">{{ category.image_width|fallback }}</td>
        <td class="number">{{ category.image_height|fallback }}</td>
        {%- if has_current_user_permission('bungalow.update') %}
          <td><a href="{{ url_for('.category_update_form', category_id=category.id) }}" class="button is-compact" title="{{ _('Edit category') }}">{{ render_icon('edit') }}</a></td>
        {%- endif %}
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">Es sind keine Bungalow-Kategorien definiert.</div>
  </div>
  {%- endif %}

{%- endblock %}
