{% extends 'layouts/admin/bungalow.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/bungalow.html' import render_bungalow_occupation_state %}
{% from 'macros/admin/shop/order.html' import render_order_link %}
{% from 'macros/admin/user.html' import render_user_avatar_and_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'offers' %}
{% set page_title = ['Angebotene Bungalows', party.title] %}

{% block head %}
    <style>
      .tag.available {
        background-color: #11aa22;
      }
      .tag.reserved {
        background-color: #eecc00;
      }
      .tag.occupied {
        background-color: #ee3322;
      }
    </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1 class="title">Bungalows {{ render_extra_in_heading(bungalows|length) }}</h1>
    </div>
    <div>
      <div class="button-row is-right-aligned">
        <a class="button" href="{{ url_for('.offer_create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>Bungalows anbieten</span></a>
      </div>
    </div>
  </div>

  {%- if bungalows %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <tr>
        <th>Nr.</th>
        <th class="centered">Kategorie</th>
        <th class="centered">Plätze</th>
        <th></th>
        <th class="centered">Status</th>
        <th>Bestellung</th>
        <th>Reserviert von</th>
        <th>Verwaltung übertragen an</th>
        <th>{{ _('Ticket bundle') }}</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for bungalow in bungalows %}
      <tr>
        <td><a href="{{ url_for('.offer_view', bungalow_id=bungalow.id) }}">{{ bungalow.number }}</a></td>
        <td class="centered">{{ bungalow.category.title }}</td>
        <td class="centered">{{ bungalow.category.capacity }}</td>
        <td class="centered">
          {%- if bungalow.distributes_network -%}
            {{ render_icon('move', title='ist Netzwerk-Verteiler') }}
          {%- endif -%}
        </td>
        <td class="centered nowrap">{{ render_bungalow_occupation_state(bungalow) }}</td>
        <td class="nowrap">
          {%- if bungalow.occupancy and bungalow.occupancy.order_number %}
          {{ render_order_link(orders_by_order_number[bungalow.occupancy.order_number]) }}
          {%- else -%}
          {{ 'liegt nicht vor'|dim }}
          {%- endif -%}
        </td>
        <td>
          {%- if bungalow.reserved_or_occupied -%}
          {{ render_user_avatar_and_admin_link(users_by_id[bungalow.occupancy.occupied_by_id], size=16) }}
          {%- endif -%}
        </td>
        <td>
          {%- if bungalow.occupied %}
            {%- with manager_id = bungalow.occupancy.manager_id %}
              {%- if manager_id != bungalow.occupancy.occupied_by_id %}
          {{ render_user_avatar_and_admin_link(users_by_id[manager_id], size=16) }}
              {%- endif %}
            {%- endwith %}
          {%- endif %}
        </td>
        <td>
          {%- if bungalow.occupied %}
            {%- with ticket_bundle_id = bungalow.occupancy.ticket_bundle_id %}
              {%- if ticket_bundle_id %}
          <a href="{{ url_for('ticketing_admin.view_bundle', bundle_id=ticket_bundle_id) }}">{{ ticket_bundle_id|string|truncate(9, end='…') }}</a>
              {%- else %}
          {{ _('not assigned')|dim }}
              {%- endif %}
            {%- endwith %}
          {%- endif %}
        </td>
        <td class="centered">
          {%- if bungalow.occupancy and bungalow.occupancy.pinned %}
          {{ render_icon('pin', title='Wechsel blockiert') }}
          {%- endif -%}
        </td>
        <td class="centered">
          {%- if bungalow.occupancy %}
            {%- if bungalow.occupancy.internal_remark -%}
            {{ render_icon('note', title='Anmerkung:\n%s'|format(bungalow.occupancy.internal_remark)) }}
            {%- endif -%}
          {%- endif %}
        </td>
        <td>
          <div class="dropdown">
            <button class="dropdown-toggle button is-compact">{{ render_icon('caret-down') }}</button>
            <ol class="dropdown-menu dropdown-menu--right">
            {%- if bungalow.distributes_network %}
              <li><a class="dropdown-item" data-action="unset-distributes-network" href="{{ url_for('.unset_distributes_network_flag', bungalow_id=bungalow.id, _method='DELETE') }}">{{ render_icon('move') }} Nicht mehr als Netzwerk-Verteiler markieren</a></li>
            {%- else %}
              <li><a class="dropdown-item" data-action="set-distributes-network" href="{{ url_for('.set_distributes_network_flag', bungalow_id=bungalow.id, _method='POST') }}">{{ render_icon('move') }} Als Netzwerk-Verteiler markieren</a></li>
            {%- endif %}
            {%- if bungalow.reserved_or_occupied %}
              <li><a class="dropdown-item" href="{{ url_for('.internal_remark_update_form', occupancy_id=bungalow.occupancy.id) }}">{{ render_icon('note') }} Anmerkung bearbeiten</a></li>
              <li><a class="dropdown-item" href="{{ url_for('.occupancy_move_form', occupancy_id=bungalow.occupancy.id) }}">{{ render_icon('arrow-right') }} Belegung verschieben</a></li>
            {%- else %}
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" data-action="offer-delete" href="{{ url_for('.offer_delete', offer_id=bungalow.id) }}">{{ render_icon('delete') }} Nicht mehr anbieten</a></li>
            {%- endif %}
            </ol>
          </div>
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">Es werden derzeit keine Bungalows angeboten.</div>
  </div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        post_on_click_then_reload('[data-action="set-distributes-network"]');
        delete_on_click_then_reload('[data-action="unset-distributes-network"]');
        confirmed_post_on_click_then_reload('[data-action="offer-delete"]', 'Bungalow nicht mehr anbieten?');
      });
    </script>
{%- endblock %}
