.bungalow-tip {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  border-radius: 11px;
  display: none;
  font-size: 0.8rem;
  left: 0;
  margin: 20px 0 0 20px;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
  top: 0;
}

.bungalow-tip.visible {
  display: block;
}

.bungalow-tip table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.bungalow-tip th,
.bungalow-tip td,
.bungalow-tip .seats li {
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

.bungalow-tip img {
  margin: 4px auto;
  max-width: 150px;
}

.bungalow-list [id|=bungalow]:target {
  background-color: #f8f888;
}


/* bungalow profile */

.bungalow-profile-background {
  background-color: #f4f4f4;
  border-bottom: #dddddd solid 1px;
  height: 104px;
}

.bungalow-profile-header {
  margin-top: -104px;
  padding: 40px;
}

.bungalow-profile-header-column {
  display: flex;
  flex-direction: column;
}

.bungalow-profile-header-column.number-and-name {
  flex-grow: 1;
}

.bungalow-profile-header-cell-top {
  font-size: 1.25rem; /* 20px / 16px */
  padding-bottom: 3px;
}

.bungalow-profile-header-cell-bottom {
  font-size: 0.875rem; /* 14px / 16px */
  height: 50%;
  opacity: 0.7;
  padding-top: 4px;
}

.bungalow-profile-body {
  padding: 0 40px 40px 40px;
}

.bungalow-description {
  background-color: #ffffff;
  border: var(--border-color) solid 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 15px;
  position: relative;
}

.bungalow-description:after,
.bungalow-description:before {
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 46px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.bungalow-description:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.bungalow-description:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: var(--border-color);
  border-width: 11px;
  margin-left: -11px;
}

.avatar.size-36 {
  height: 36px;
  width: 36px;
}


/* occupant slots */

ol.occupant-slots-horizontal,
ol.occupant-slots-vertical {
  list-style: none;
  margin: 0;
  padding: 0;
}

.occupant-slots-horizontal {
  display: flex;
  gap: 0.25rem;
}

.occupant-slots-horizontal li {
  display: inline-block;
  margin: 0;
}

.occupant-slots-vertical li {
  align-items: center;
  column-gap: 0.375rem;
  display: flex;
}

.occupant-slots-vertical li + li {
  margin-top: 0.25rem;
}

.occupant-slot--available {
  background-color: #f8f8f8;
  border-radius: 3px;
  border: #cccccc dashed 1px;
  display: inline-block;
  vertical-align: middle;
}

.occupant-slots-horizontal .occupant-slot--available {
  height: 16px;
  width: 16px;
}

.occupant-slots-vertical .occupant-slot--available {
  height: 24px;
  width: 24px;
}
